{% block footer %}
<style>
    .custom {
        text-align:center;
        margin-left: 20rem;
    }
    .icons {
        padding-top: 0.7rem;
        margin-left: 1.5rem;
    }
</style>
<footer class="bg-dark text-white text-center text-lg-start mt-5 footer">
    <div class="container p-4 custom">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase"><b><u>About Us</u></b></h5>
                <p>
                    Welcome to our course registration portal. We are committed to providing the best online registration experience for our students.
                </p>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase"><b><u>Follow Us</u></b></h5>
                <div class = "icons">
                <a href="https://www.facebook.com/iithyderabad/" target = "_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://x.com/IITHyderabad?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target = "_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/iithyderabad/?hl=en" target="_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/school/iithyderabad/?originalSubdomain=in" target = "_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-secondary">
        © 2024 IIT Hyderabad. All Rights Reserved.
    </div>
</footer>
{% endblock %}